# Database
DATABASE_URL="postgresql://user:password@localhost:5432/lccdb?schema=public"

# Auth (Better Auth)
BETTER_AUTH_SECRET="your-secret-at-least-32-chars-long"
BETTER_AUTH_URL="http://localhost:3000"

# Export
EXPORT_DIR="./exports"
